/* 
  ==========================================
  #recipe-card
  ##recipe card style
  ==========================================
*/

.recipe {
  overflow: hidden;
}
.recipe__card {
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: fit-content;
  overflow: hidden;
  background-color: transparent;
}
.recipefooter {
  padding: 1rem;
  margin: 0;
}
.recipe--loading {
  width: 100%;
  aspect-ratio: 68/93;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  display: grid;
  place-items: center;
}
.recipe__thumb--loading {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
}
.recipefooter__head h4 {
  margin: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recipefooter__head span {
  margin: 0 10px 4px 0;
}
.recipefooter__head {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recipefooter__action a {
  margin-right: 10px;
}
.recipefooter__action span {
  cursor: pointer;
}
.recipefooter--loading {
  width: 100%;
  aspect-ratio: 59/26;
}

/* 
  ==========================================
  #end of recipe card style
  ==========================================
*/

/* 
  ==========================================
  #home
  ##home style
  ==========================================
*/
.home__header {
  margin: 0 auto;
}
.home__hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.hero__heading {
  margin: 3rem 0;
}
.header__button {
  width: fit-content;
  margin: 1rem auto;
}
.header__button h6 {
  margin: 0;
}
.suggestion__heading {
  text-align: center;
}
.home-card-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 992px) {
  .home-card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .hero__heading {
    text-align: center;
  }
  .home-card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 828px) {
  .header__button {
    margin: 4rem auto 1rem auto;
  }
  .home__header {
    padding-bottom: 0;
  }
}

/* 
  ==========================================
  #end of home style
  ==========================================
*/
