@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --background-color: #fffffe;
  --color: #a7a9be;
  --h1-color: #0f0e17;
  --h2-color: #0f0e17;
  --h3-color: #0f0e17;
  --h4-color: #0f0e17;
  --h5-color: #0f0e17;
  --h6-color: #0f0e17;
  --primary: #ff8906;
  --primary-hover: #ff8f0e;
  --primary-focus: rgba(255, 255, 255, 0);
  --primary-inverse: #fff;
  --contras: #fffffe;
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --background-color: #0f0e17;
    --color: #a7a9be;
    --h1-color: #fffffe;
    --h2-color: #fffffe;
    --h3-color: #fffffe;
    --h4-color: #fffffe;
    --h5-color: #fffffe;
    --h6-color: #fffffe;
    --primary: #ff8906;
    --primary-hover: #ff8f0e;
    --primary-focus: rgba(255, 255, 255, 0);
    --primary-inverse: #fff;
    --contras: #fffffe;
  }
}

/* Pink Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --background-color: #0f0e17;
  --color: #a7a9be;
  --h1-color: #fffffe;
  --h2-color: #fffffe;
  --h3-color: #fffffe;
  --h4-color: #fffffe;
  --h5-color: #fffffe;
  --h6-color: #fffffe;
  --primary: #ff8906;
  --primary-hover: #ffffff00;
  --primary-focus: rgba(255, 255, 255, 0);
  --primary-inverse: #fff;
  --contras: #fffffe;
}

/* Pink (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
  --font-family: Montserrat, Helvatica;
}
