body {
  /* background-color: #E7E5E4; */
}

/* Navbar */
.nav-active {
  @apply bg-stone-2 border-b border-black
}

.bg-gradient-stone {
  background: linear-gradient(to bottom, #E7E5E4, transparent)
}

.filter-slider .swiper-slide {
  width: fit-content !important;
}

.swiper-button-disabled {
  opacity: 0.3;
}

@keyframes text-running {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}
